body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
  margin: 0;
}
button {
  cursor: pointer;
}
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
a {
  text-decoration: none;
}

img {
  display: block;
}

.container {
  min-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
.cap-container {
  justify-content: space-between;
  border-bottom: 1px solid #e7e9fc;
  display: flex;
  align-items: center;
  width: 1158px;
}

.cap-navigator {
  display: flex;
  align-items: center;
  width: 1158px;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.cap {
  background-color: #fff;
  border-bottom: 1px solid #e7e9fc;
}

.cap-logo {
  padding: 24px 0;
  margin-right: 76px;
}
.address {
  font-style: normal;
}
.cap-address {
  gap: 40px;
  width: 1158px;
}

.cap-address-list {
  display: block;
  text-decoration: none;
}

.cap-address-add {
  display: flex;
  align-items: center;
}

.cap-web {
  display: block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.cap-studio-link {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}
.cap-address-exact {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
}
.cap-address-exact:hover {
  color: #404bbf;
}
.cap-address li:first-child {
  color: #404bbf;
}
.cap-address-exact:focus {
  color: #404bbf;
}

.cap-address a:hover {
  color: #404bbf;
}
.contact-address {
  gap: 40px;
  margin-left: auto;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.contact-address a:hover {
  color: #404bbf;
}
.cap-list-address {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.cap-address-list {
  display: block;
  padding: 24px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.cap-address-list:hover,
.cap-address-list:focus {
  color: #404bbf;
}

.hero {
  background-color: #2e2f42;
  width: 1440px;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 188px 0;
}

.container-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1607px;
  box-sizing: border-box;
}

.hero-title {
  max-width: 496px;
  width: 496px;
  height: 120px;
  margin: 0 auto;
  margin-left: 472px;
  margin-right: 472px;
  box-sizing: border-box;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}
.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
}
.hero-primary-btn {
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  margin-top: 48px;
  margin-bottom: 188px;
  margin-left: 636px;
  margin-right: 635px;
  background-color: #4d5ae5;
  color: #fff;
  border: none;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 1.5;
  cursor: pointer;
}

.hero-primary-btn:hover {
  background-color: #404bbf;
}
.hero-primary-btn:focus {
  background-color: #404bbf;
}
.team {
  padding: 120px 0;
  margin-bottom: 72px;
  background-color: #f4f4fd;
  width: 1440px;
  height: 732px;
}
.container-team {
  padding: 120px 0;
}

.contact-team {
  border-radius: 0px 0px 4px 4px;
  padding: 32px 0;
  text-align: center;
  margin-bottom: 8px;
}

.team-our {
  display: flex;
  padding-bottom: 120px;
}

.team-info {
  padding: 32px 0;
}

.team-name {
  text-align: center;
  margin-bottom: 8px;
}

.team-position {
  text-align: center;
}

.team-foto-list {
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
}
.portfolio-text-team {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

.job {
  padding: 120px 0;
  display: flex;
  justify-content: center;
  padding-left: 156px;
  padding-right: 156px;
}

.job-title-two {
  margin-bottom: 72px;
}

.job-name {
  display: flex;
  gap: 24px;
  width: 1128px;
  height: 156px;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}
.title-two-team {
  margin-bottom: 72px;
  margin-bottom: 8px;
  padding: 72px;
  box-sizing: border-box;
  font-size: 36px;
  text-transform: capitalize;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  background-color: #ffffff;
}
.job-title {
  margin-bottom: 8px;
  width: 264px;
  height: 24px;
  /*margin: 0;
  padding-bottom: 8px;*/
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.job-text {
  width: 264px;
  gap: 24px;
  margin: 8px 0 0 0;
  padding: 0;
  flex-grow: 1;
  overflow: hidden;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.job-name-specific {
  width: calc((100% - 3 * 24px) / 4);
  height: 104px;
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 8px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
  padding-left: 611px;
  padding-right: 611px;
  text-align: center;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  padding: 120px 0 120px 0;
}

.app-info {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.app-title {
  text-align: center;
  margin-bottom: 8px;
}

.app-category {
  text-align: center;
}

.container-portfolio {
  border: 1px solid #e7e9fc;
  border-top: none;
  display: flex;
  justify-content: center;
}
.portfolio-list {
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
  background-color: #ffffff;
  width: 360px;
  height: 420px;
  display: flex;
  margin-bottom: 48px;
  width: calc((100% - 48px) / 3);
  padding: 32px 16px;
}

/*.portfolio-list-two {
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
  background-color: #ffffff;
  width: 360px;
  height: 420px;
  display: flex;
  padding: 32px 16px;
  width: calc((100% - 48px) / 3);
  margin-bottom: 0;
}*/

.portfolio-list-one img,
.portfolio-list-two img {
  width: 360px;
  height: 300px;
  margin-bottom: 32px;
}
.title-two {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.title-two-portfolio {
  margin-bottom: 8px;
  box-sizing: border-box;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}
.title-two-portfolio:hover {
  background-color: #ffffff;
}
.title-three {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.team-our {
  display: flex;
  gap: 24px;
}
.box-list {
  width: calc((100% - 3 * 24px) / 4);
  height: 380px;
}

.team-our-img {
  margin-bottom: 32px;
}

.portfolio-job {
  column-gap: 24px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  justify-content: center;
}
.portfolio-text {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}
.foot {
  padding: 100px 0;
  background-color: #2e2f42;
  width: 1440px;
  height: 312px;
}
.foot-web {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.foot-web-all {
  display: inline-block;
  margin-bottom: 16px;
  padding-left: 156px;
  padding-right: 1169px;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 0px;
}
.foot-studio-white {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}

.foot-text {
  margin-left: auto;
  padding-top: 16px;
  padding-left: 156px;
  padding-right: 1020px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  box-sizing: border-box;
}
